* {
    margin: 0;
    padding: 0;
    font-family: 'Titillium Web', sans-serif;
}

body {
    width: calc(100% - 25px);
    min-height: calc(100vh - 30px);
    margin: 15px;
}

.header-container {
    background: #3077c2;
    background: linear-gradient(0deg, #2c363b 0%, #1d2229 100%);
    height: calc(100vh - 30px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px 1px #282828;
    border-radius: 3px;
}

h1{
    font-size: 6rem;
    line-height: 5rem;
}

a{
    color:#fff ;
    text-decoration: none;
}

a:hover{
    text-decoration: red;
    color: lightgray;
}


#footer{
    margin-top: -60px;
    width: 75%;
    padding-left: 50px;
}

.return{
    position: absolute;
    top: 40px;
    left: 50px;
}

#canvas-board{
    background-color: #cccccc;
    border: 5px solid #0091ff;
    box-shadow: 0 0 15px #000;
}

#instruction{
    font-size: 14px;
    font-style: italic;
    color: #ce5252;
}

.score-board{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 500px;
    margin: 0 auto;
}

