*{
    margin: 0;
    padding: 0;
    font-family: 'Titillium Web', sans-serif;
}

.container{
    background-color: #282828;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 3.5em;
    font-weight: 700;
}

h3{
    font-size: 1.7em;
    margin-top: 80px;
}

p{
    color: #a48535;
}

.text-container{
    color: #fff;
    text-align: center;
}